body {
  width: 1000px;
  margin: 0 auto;
  background: #0d0d0d;
  font-family: 'Josefin Sans', sans-serif;
}

.box-playlist {
  position: relative;
  padding: 10px;
  background: #1a1a1a;
  color: #e6e6e6;
}

.playlist-img {
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
  transition: 1s all;
}

.playlist-img:hover {
  transform: scale(1.05);
}

.playlist-title {
  display: inline;
  position: absolute;
  bottom: 100px;
  right: 360px;
}

.playlist-desc {
  display: inline;
  position: absolute;
  bottom: 30px;
  right: 160px;
}

.songs-list {
  list-style-type: none;
  padding: 40px 40px 40px;
  color: #e6e6e6;
}

.song {
  position: relative;
  border: 0px;
  background: #262626;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  transition: 1s all;
}

.song:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #8B4000;
  cursor: pointer;
}

.song-img {
  width: 100px;
  margin: 0 40px 0 0;
}

.song-title, .song-band {
  display: inline-block;
  position: absolute;
}

.song-title {
  bottom: 50px;
}

.song-band {
  bottom: 10px;
}

.player-controller {
  list-style-type: none;
  text-align: center;
  padding: 10px 40px 10px;
  background: #1a1a1a;
}

.player-controller li {
  display: inline-block;
  margin: 0px 20px;
}

/* Google Icons */
.material-symbols-outlined {
  color: #e6e6e6;
  border-radius: 50%;
  transition: 1s all;
  font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
  transform: scale(1.50);
  box-shadow: 0 0 20px #8B4000;
  cursor: pointer;
}

.material-symbols-outlined:active, .song:active {
  box-shadow: 0 0 20px orange;
}

.skip_previous, .skip_next {
  font-size: 40px;
  vertical-align: center ;
}