body {
  width: 1000px;
  margin: 0 auto;
}

.box-playlist {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  background: gray;
}

.playlist-img {
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

.playlist-title {
  display: inline;
  position: absolute;
  bottom: 100px;
  right: 360px;
}

.playlist-desc {
  display: inline;
  position: absolute;
  bottom: 30px;
  right: 160px;
}

.songs-list {
  list-style-type: none;
  border: 1px solid black;
  padding: 40px 40px 40px;
}

.song {
  position: relative;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.song-img {
  width: 100px;
  margin: 0 40px 0 0;
}

.song-title, .song-band {
  display: inline-block;
  position: absolute;
}

.song-title {
  bottom: 50px;
}

.song-band {
  bottom: 10px;
}

.player-controller {
  border: 1px solid black;
  list-style-type: none;
  text-align: center;
  padding: 10px 40px 10px;
}

.player-controller li {
  display: inline-block;
  margin: 0px 20px;
}

.previous-button, .play-button, .next-button {
  border-radius: 50%;
}